<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
	</startup>
	<appSettings>
		<add key="ServerIP" value="192.168.1.1"/>
		<add key="ServerPort" value="5038"/>
		<add key="ManagerLogin" value="adm111"/>
		<add key="ManagerPassword" value=""/>
		<add key="PeerNumber" value="SIP/101"/>
		<add key="OriginateContext" value="from-internal"/>
		<add key="OriginatePriority" value="1"/>
		<add key="OriginateTimeout" value="10"/>
		<add key="ShowImportant" value="False"/>
		<add key="LoadonWindows" value="False"/>
		<add key="LoadMinimized" value="False"/>
		<add key="SystemNotification" value="False"/>
		<add key="Logging" value="True"/>
		<add key="CallCenterEnable" value="False"/>
		<add key="CCAutoOpenOnAnswer" value="False"/>
		<add key="CCAutoOpenUrl" value="False"/>
		<add key="CallCenterSite" value="http://192.168.1.1/crm/"/>
		<add key="DBName" value="asteriskcdrdb"/>
		<add key="DBIP" value="192.168.1.1"/>
		<add key="DBUser" value="asterisk"/>
		<add key="DBPassword" value=""/>
		<add key="DBstring" value="Database=asteriskcdrdb;Data Source=192.168.1.1;User Id=asterisk;Password="/>
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
	</appSettings>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
			</providers>
		</roleManager>
	</system.web>
</configuration>
