<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <appSettings>
    <add key="ServerIP" value="192.168.0.2" />
    <add key="ServerPort" value="5038" />
    <add key="ManagerLogin" value="AsterNotify" />
    <add key="ManagerPassword" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAR7QjwcTcfEankJgv4miogQQAAAACAAAAAAAQZgAAAAEAACAAAADM5/7O1DhTWOOawNFr1X+LIr41/rGxXiyxgNhED78z7AAAAAAOgAAAAAIAACAAAACNOoHyc8G7ZoCdw4Ib9Z45TgewqWM7B4hGNWEbrjmbrBAAAACsk9IVxT0jSJ7Z243ifzJAQAAAAFEqooa84Tqhwb71ySfXJ+PIhBftBaimlbRVMn3xInn4GBf/JUSRJupj7WijKHGoX/daK7xo2zoavD1FFA16BFg=" />
    <add key="PeerNumber" value="SIP/101" />
    <add key="OriginateContext" value="from-internal" />
    <add key="OriginatePriority" value="1" />
    <add key="OriginateTimeout" value="10" />
    <add key="ExternalCallPrefix" value="9" />
    <add key="ShowImportant" value="False" />
    <add key="LoadonWindows" value="True" />
    <add key="LoadMinimized" value="False" />
    <add key="SystemNotification" value="False" />
    <add key="Logging" value="True" />
    <add key="CallCenterEnable" value="False" />
    <add key="CCAutoOpenOnAnswer" value="False" />
    <add key="CCAutoOpenUrl" value="False" />
    <add key="CallCenterSite" value="http://192.168.0.2/crm/" />
    <add key="DBName" value="asteriskcdrdb" />
    <add key="DBIP" value="192.168.0.2" />
    <add key="DBUser" value="asteriskuser" />
    <add key="DBPassword" value="" />
    <add key="DBstring" value="Database=asteriskcdrdb;Data Source=192.168.0.2;User Id=asteriskuser;Password=" />
    <add key="System" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
